# Terraform files
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# Sensitive files
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Environment variables
.env

# Secrets
*.pem
*.key
